.section {
    width: 100%;
    height: 400px; 
}

.watch {
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: 20px;
}

.watch-background {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: cornflowerblue;
}

/* Styles for the buttons */
.watch button {
    position: absolute;
    width: 40px;
    height: 20px;
    border-radius: 20%;
    background-color: aliceblue;
    cursor: pointer;
    text-align: center;
    font-size: 10px;
    padding: 0;
}

/* Center content inside the watch face */
.time-display {
    position: absolute;
    border: 2px solid black;
    border-radius: 10%;
    background-color: white;
    font-size: 18px;
    padding: 10px;
}

.light-on {
    background-color: yellow;
}

.ampm-span {
    padding: 0 5px;
    font-size: 12px;
}

.seconds-span {
    padding: 0 5px;
    font-size: 14px;
}

.edit-mode {
    color: red;
    animation: blink 1s infinite;
}

@keyframes blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

br {
    display: block;
    margin: 30px;
} 