<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>
        <%= htmlWebpackPlugin.options.title %>
    </title>
    <!-- support for mobile touch devices -->
    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1">
</head>

<body>
    <h1>GE Healthcare: Test</h1>
    <div class="section">
        <div id="main-watch"></div>
    </div>

    <button id="transform">animate!</button>
    <br>
    <select id="gmtSelect"></select>
    <button id="create">create!</button>

    <div class="section" id="gmt-watch"></div>
</body>

</html>